{{ define "lineChart" }}

<script type="text/javascript">

google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCurveTypes);

    function drawCurveTypes() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Net Cash');

        data.addRows([
            // {{ range .SegmentedTransactions }}
            [
                {{ unixTs .TransactionDate }}, {{ .NetCash }}
            ],
            // {{ end }}
        ]);

    var options = {
        hAxis: {
            title: 'Time'
        },
        vAxis: {
            title: 'Net Cash'
        },
        series: {
            1: { curveType: 'function' }
        }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    }
</script>

<h3 class="center-align">Net Cashflow</h3>
<div id="chart_div"></div>


{{ end }}
