{{define "content"}}
{{if .Success}}
	<p style="color:blue">Sign Up is complete.</p>
{{else}}

	<!-- <form action="/signup" method="post"> -->
	<form 
		hx-post="/signup" 
		hx-target="this" 
		hx-swap="outerHTML">

		<h3>Create Account</h3>

		<div class="column col-4">
			<div class="form-group">
				<label class="form-label" for="login">
					<span style="color: hsl(0, 0%, 100%);">Login</span>
				</label>
				<input class="form-input" type="text" name="login" id="login" placeholder="Login" value="{{.Login}}">
				{{ if .Errors }}
				{{ with .Errors.login }}
					<p style="color:red">{{ . }}</p>
				{{ end }}
				{{ end }}
				<label class="form-label" for="password">
					<span style="color: hsl(0, 0%, 100%);">Password</span>
				</label>
				<input class="form-input" type="password" name="password" id="password" placeholder="Password"></input>
				{{ if .Errors }}
				{{ with .Errors.password}}
					<p style="color:red">{{ . }}</p>
				{{ end }}
				{{ end }}
				<label class="form-label" for="repeatPassword">
					<span style="color: hsl(0, 0%, 100%);">Repeat Password</span>
				</label>
				<input class="form-input" type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat password"></input>
				{{ if .Errors }}
				{{ with .Errors.repeatPassword}}
					<p style="color:red">{{ . }}</p>
				{{ end }}
				{{ end }}

				<br>
				<input class="btn btn-primary" type="submit" value="Submit">
			</div>
		</div>
	</form>
{{end}}
{{end}}
