<html>
    {{template "mainHeader" .}}
    {{template "styleSnippet" .}}

    <body>
        {{template "navSnippet" .}}

        <div class="row">
            <div class="grid-example col s12 m6"></div>
        </div>

        <div class="container right">
            {{ template "rangeEntryForm" .}}
        </div>

        <div class="row">
            <div class="col s4">
                {{template "summaryTable" .}}
            </div>

            <div class="col s8">
                {{ template "transactionsTable" .}}
            </div>
        </div>

        {{template "snippetFooter" .}}

    </body>

</html>
