{{ define "loginForm" }}

<form style="margin: 1em 0" action="/sign-in" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf-token" value="{{ .CSRFToken }}">
    <input type="hidden" name="return-url" value="{{ .ReturnURL }}">
    <input type="text" name="username" placeholder="username" autofocus>
    <input type="password" name="password" placeholder="password" autofocus>
    <button class="waves-effect waves-light btn-small">Sign In</button>
    {{ if .SignInError }}
    <div style="color: red; margin: 0.5em 0;">incorrect username or password</div>
    {{ end }}
</form>

{{ end }}
