{{define "summaryTable"}}

<h4>Summary</h4>
<table class="cyan lighten-5">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Recurrence</th>
            <th>Amount</th>
        </tr>
    </thead>

    {{ range .RangeTransactions }}
    <tbody>
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .IncomeOrExpense }} ({{ .Category }})</td>
            <td>Every {{ .RecurrenceEveryDays }} days. {{ dayDate .RecurrenceStart }} to {{ dayDate .RecurrenceEnd }} </td>
            <td> ${{ .Amount }}</td>
            <td><a href="#!" class="secondary-content"><i class="material-icons">clear</i></a></td>
        </tr>
    </tbody>
    {{ end }}
</table>

{{end}}
